<style>

</style>

<div class="page-width">
  <h2>Return</h2>
</div>

{% schema %}
{
  "name": "Read Our Blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Read Our Blog",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_name",
      "default": "See All Articles",
      "label": "Button Name"
    },
    {
      "type": "text",
      "id": "btn_name",
      "default": "READ ARTICLE",
      "label": "Read more Button"
    }
  ],
  "blocks": [
    {
      "name": "article",
      "type": "article",
      "limit": 4,
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article Aelect"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Read Our Blog"
    }
  ]
}
{% endschema %}