<style>
  h1.heading-font-family {
    font-size: 76px;
    line-height: 152px;
    text-transform: uppercase;
    margin-bottom: 31px;
  }

  h2.text-font-family {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  p.text-font-family {
    line-height: 170%;
  }

  @media (max-width: 640px) {
    h1.heading-font-family {
      font-size: 32px;
      line-height: 64px;
      margin-bottom: 16px;
    }
    h2.text-font-family {
      font-size: 20px;
      margin-bottom: 16px;
      line-height: 130%;
    }
  }
</style>

<div class="page-width--narrow">
  <h1 class="heading-font-family font-choco">Shipping</h1>
  <div class="sub_title">
    <h2 class="text-font-family font-choco">{{ section.settings.sub_title }}</h2>
    <p class="text-font-family font-brown">{{ section.settings.content }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Shipping Page",
    "settings": [
      {
        "type": "text",
        "id": "sub_title",
        "label": "Shipping Title",
        "default": "Shipping Policy"
      },
      {
        "type": "text",
        "id": "content",
        "label": "Shipping Policy",
        "default": "Within the UAE, all deliveries use either Emex or Express Courier. Delivery time takes 2 working days. DHL and FedEx are used for international shipments and take 3 to 7 working days to be delivered."
      }
    ],
    "presets": [
      {
        "name": "Shipping Page"
      }
    ]
  }
{% endschema %}