.main-page-title.h0 {
  font-family: 'Faberge';
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 152px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #281D15;
  margin-bottom: 0;
}

.sub_title .heading-font-family {
  font-size: 36px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.shopify-section {
  padding-top: 20px;
}

.page-width--narrow {
  max-width: inherit;
  padding: 0 120px;
}

.faq-item h3.text-font-family {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #281D15;
  padding: 24px 0;
  border-top: 1px solid #B8B2A6;
}

.faq-item:last-child {
  border-bottom: 1px solid #B8B2A6;
}

.faq-item h3.text-font-family i {
  margin-right: 24px; 
}

.faq-item p {
  padding-left: 60px;
  padding-bottom: 24px;
}