.about-cassiopeia {
  padding-top: 82px;
  padding-bottom: 69px;
  text-align: center;
}

.content {
  position: relative;
  max-width: 896px;
  margin: auto;
  text-align: center;
}

.content .text-font-family {
  font-weight: 300;
  line-height: 27.2px;
  letter-spacing: 0;
}

.content .text-font-family p {
  margin-bottom: 15px;
}

.content .text-font-family p strong {
  font-weight: 400;
}

.content img {
  position: absolute;
  top: -22px;
  left: -100px;
  width: auto;
  height: auto;
}

.image_block {
  padding-top:  99px;
}
.image_block .d-flex img:not(:first-child):not(:last-child) {
  margin: 0 8.5px;
}
.image_block .d-flex {
  overflow: hidden;
}
.image_block .d-flex img:first-child {
  margin-right: 8.5px;
}
.image_block .d-flex img:last-child {
  margin-left: 8.5px;
}