.main-page-title.h0 {
  font-family: 'Faberge';
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 152px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #281D15;
  margin-bottom: 0;
}

.sub_title .heading-font-family {
  font-size: 36px;
  line-height: 160%;
  letter-spacing: 0;
}

.shopify-section {
  padding-top: 20px;
}

.page-width--narrow {
  max-width: inherit;
  padding: 0 120px;
}

.faq-item h3.text-font-family {
  margin: 24px 0 20px; 
}

.faq-item h3.text-font-family i {
  margin-right: 24px; 
}