.main-page-title.h0 {
  font-family: 'Faberge';
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 152px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--Chocolate);
  margin-bottom: 0;
  margin-top: 20px;
}

.sub_title .heading-font-family {
  font-size: 36px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin-bottom: 36px;
}

.page-width--narrow {
  max-width: inherit;
  padding: 0 120px;
}

.faq-item h3.text-font-family {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--Chocolate);
  padding: 24px 30px 24px 0;
  border-top: 1px solid var(--DarkBeige);
  cursor: pointer;
  position: relative;
  transition: .1s ease;
}

.faq-item h3.text-font-family:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 24px;
  width: 22px;
  height: 22px;
  background-image: url('./faq_plus.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: .1s ease;
}
.faq-item .faq-content {
  display: none;
  padding-left: 60px;
  padding-bottom: 24px;
}
.faq-item h3.text-font-family:hover {
  background-color: var(--DarkBeige);
}

.faq-item h3.text-font-family.active:after {
  background-image: url('./faq_minus.svg');
}

.faq-item:last-child {
  border-bottom: 1px solid var(--DarkBeige);
}

.faq-item h3.text-font-family i {
  margin-right: 24px; 
}

@media (max-width: 990px) {
  .page-width--narrow {
    padding: 0 15px;
  }
}