.blog-container {
  margin: 0 -17.75px;
}
/* clearfix */
.blog-container:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.blog {
  width: 48%;
  float: left;
  padding: 0 17.75px;
}

.blog .img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item--width-3 { width: 48%; }

.grid-item--width-2,.grid-item--width-4 {
  width: 52%; }
.grid-item--width-1 .img, .grid-item--width-3 .img {
  height: 922px;
}
.grid-item--width-1,
.grid-item--width-2 {
  margin-bottom: 169px;
}
.grid-item--width-2 .img,.grid-item--width-4 .img {
  height: 496px;
}
.grid-item--width-0 {
  width: 4%;
  height: 2px;
  padding: 0;
}
.grid-item--width-4 {
  margin-top: -726px;
}
.grid-item--offer {
  order: -1;
}
.blog-detail {
  text-align: center;
}
.lorem-ipsum {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 180%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #281D15;
  margin: 32px 0 24px;
}
.blog-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #281D15;
  margin-top: 0;
  margin-bottom: 32px;
}

.read-our-blog .label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #281D15;
  margin: 0;
}
.read-our-blog .page-width {
  padding-bottom: 136px;
  border-bottom: 1px solid #B8B2A6;
}
.rob_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 66px;
}
.rob_title h2.title {
  font-family: 'Faberge';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 96px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #281D15;
  margin: 0;
}
.see-all-articles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-decoration-line: underline !important;
  text-transform: uppercase;
  color: #281D15;
}
.see-all-articles:hover {
  opacity: 0.7;
}
@media (max-width: 1700px) {
  .grid-item--width-4 {
    margin-top: -766px;
  }
}

@media (max-width: 1404px) {
  .grid-item--width-1 .img, .grid-item--width-3 .img {
    height: 722px;
  }
  .grid-item--width-2 .img, .grid-item--width-4 .img {
    height: 371px;
  }
  .grid-item--width-1, .grid-item--width-2 {
    margin-bottom: 100px;
  }
  .grid-item--width-4 {
    margin-top: -625px;
  }
  .blog-name {
    font-size: 26px;
  }
}

@media screen and (max-width: 1202px) {
  .grid-item--width-1 .img, .grid-item--width-3 .img {
    height: 600px;
  }
  .grid-item--width-2 .img, .grid-item--width-4 .img {
    height: 310px;
  }
  .grid-item--width-4 {
    margin-top: -541px;
  }
  .blog-name {
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .grid-item--width-4 {
    margin-top: -567px;
  }
}

@media (max-width: 991px) {
  .rob_title {
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .read-our-blog .label {
    text-align: center;
  }
  .rob_title h2.title {
    font-size: 40px;
    line-height: 129%;
  }
  .blog {
    float: none;
    width: 100%;
  }
  .grid-item--width-2 .img {
    height: auto;
  }
  .blog.grid-item--width-0,
  .blog.grid-item--width-2,
  .blog.grid-item--width-4 {
    display: none;
  }
  .lorem-ipsum {
    margin: 21px 0 20px;
  }
}