.about-cassiopeia {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.content {
  position: relative;
  max-width: 896px;
  margin: auto;
  text-align: center;
}

.content .text-font-family {
  font-weight: 300;
  line-height: 27.2px;
  letter-spacing: 0;
}