.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.main-page-title.page-title.h0 {
  font-family: 'Faberge';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #281D15;
  margin-bottom: 40px;
}

.contact.page-width {
  background-color: var(--Brown);
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-gap: 16px;
}

.contact.page-width .right-side {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.contact.page-width form {
  padding: 100px 0 86px 
}

.contact.page-width form > .form-heading {
  font-weight: 200;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 78px;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
    max-width: calc(100% - 173px);
  }
}

.contact__button {
  margin-top: 52px;
  text-align: right;
  margin-right: 173px;
}

.field__input {
  border-bottom: 1px solid var(--Almond);
  padding-left: 0;
  padding-right: 0;
  min-height: unset;
}

.field__label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  color: #F0EAD2;
  left: 0;
}

.field:after {
  box-shadow: unset;
}

.field__input:focus {
  box-shadow: unset;
}

.contact__button button {
  background-color: var(--Almond);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: var(--Brown);
  padding: 15px 75px;
  transition: .2s ease;
  border: 1px solid var(--Almond);
}
.button:after {
  box-shadow: unset;
}
.contact__button button:hover {
  color: var(--Almond);
  background-color: var(--Brown);
}
.footer {
  margin-top: 0 !important;
}

@media (max-width: 1400px) {
  .contact.page-width form>.form-heading {
    font-size: 54px;
  }
}