@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}


.facets__summary span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #281D15;
}
.facets__disclosure-vertical {
  border-top: 0 !important;
}
.filter-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  letter-spacing: 0.04em;
  width: 20%;
}
.collection-filters {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.collection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  width: 80%;
}

.collection-header .heading-font-family {
  font-weight: 400;
  font-size: 48px;
  line-height: 96px;
  letter-spacing: 0.04em;
}

.facet-filters__label,
.facet-filters__field .select__select {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.023em;
  text-transform: uppercase;
  color: #281D15;
}

 @media (max-width: 1200px) {
  .page-width {
    max-width: calc(100% - 120px);
  }
 }

 @media (max-width: 990px) {
  .page-width {
    max-width: calc(100% - 30px);
  }
  .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
 }

 @media (max-width: 767px) {
  .filter-title {
    display: none;
  }
  .facets__form {
    grid: flex !important;
    align-items: center;
    gap: 0 !important;
  }
  .collection-header {
    width: 100%;
    padding-left: 0;
  }
  .collection-header .heading-font-family {
    font-size: 28px;
    line-height: 64px;
  }
  .collection-filters {
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .facet-filters {
    padding-left: 10px !important;
  }
 }

 @media (max-width: 400px) {
  .collection-header {
    display: block;
    text-align: center;
  }
  .facets__form {
    margin: auto;
    display: block;
  }
  .boost-pfs-filter-toolbar-top-mobile {
    margin-bottom: 10px;
  }
  .boost-pfs-filter-tree-mobile-button button {
    margin: auto;
  }
  .facet-filters {
    padding-left: 0 !important;
  }
 }

.boost-pfs-filter-scroll-to-top {
  background-color: var(--Brown);
  box-shadow: 0 0 6px -2px var(--Chocolate);
  display: none;
  top: unset;
  bottom: 100px;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-before: 3px;
}

.boost-pfs-filter-tree-mobile-button button {
  font-size: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url('./sliders.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}